/* ------------------------------ PAGINA INICIO -----------------------------  */

/* *{
    margin: 0;
    padding: 0;
}  */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7caec; /* Fondo pastel */
    font-family: 'Cuprum', sans-serif;
}

.logo {
    width: 200px; /* Ajusta el ancho según lo necesites */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    /* Otros estilos que desees aplicar */
}

/* Animación del logo al pasar el ratón sobre él */
.logo:hover {
    transition: transform 0.3s ease-in-out;
    transform: rotate(360deg); /* Gira 360 grados al pasar el ratón sobre él */
}

header {
    background-color: #ecddd9; /* Color de fondo del encabezado */
    padding: 20px;
    text-align: center;
    font-size: 26px;
    font-family: 'Cuprum', sans-serif;
}

main {
    padding: 20px;
    font-family: 'Cuprum', sans-serif;
    color: #e8499a;

}

footer {
    background-color: #ecd9e9; /* Color de fondo del pie de página */
    padding: 10px;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    color: #e8499a;
}

h1 {
    text-align: center;
    font-family: 'Cuprum', sans-serif;
}

/* SECCION DE CREACION Y ESTILOS DEL NAV */

nav {
    text-align: center;
    margin-top: 100px;
    font-family: 'Cuprum', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

a {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    background-color: #ecddd9; /* Color de fondo de los círculos */
    color: #e8499a;
    text-decoration: none;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    font-family: 'Cuprum', sans-serif;
    border: 2px solid #e8499a; /* Añade un borde de 2px y color rosa */
    transition: transform 0.3s ease-in-out; /* Agrega la transición */
}

a:hover {
    animation: brillo 0.5s ease-in-out infinite;
    background-color: #ccc; /* Cambio de color al hacer hover */
    transform: rotate(360deg); /* Agrega la rotación de 360 grados */
}

/* ANMACION PARAA EL NAV */

/* Animación */

/* Animación de brillo */
@keyframes brillo {
    0% {
        filter: brightness(100%);
    }
    50% {
        filter: brightness(120%);
    }
    100% {
        filter: brightness(100%);
    }
}

/* Aplicar la animación al hacer hover en los enlaces del menú */
a:hover {
    animation: brillo 0.5s ease-in-out infinite;
}

/* Ajustes para el fondo en forma de corazón */
a {
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    opacity: 0; /* Oculta el corazón inicialmente */
    transition: opacity 0.3s ease-in-out;
}

/* Se realiza la pagina con efectos Grid Responsive */
.contenedor{
    font-family: 'Cuprum', sans-serif;
    width: 90%;
    max-width: 1000px; /*ancho máximo de la página*/
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px; /*nos ahorramos tenes que poner márgenes entre los elementos*/
    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3,1fr);
    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: auto auto auto auto;
    grid-template-areas:"encabezado encabezado encabezado"
                        "contenido contenido contenido"
                        "contenido contenido contenido"
                        "pie pie pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .pie {
    padding: 20px;
    border-radius: 4px;
    font-family: 'Cuprum', sans-serif;
}

.contenedor .encabezado{
    background:#d0c9c600;
    color: black;
    grid-area: encabezado;
    list-style: inside;
}

.contenedor .contenido{
    background: #ecddd9;
    grid-area: contenido; 
}

.contenedor .pie{
    background: #ecddd9;
    /* font-family:'Cormorant Garamond', serif; */
    color: #e8499a;
    grid-area: pie; 
}

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas:"encabezado encabezado encabezado"
                            "contenido contenido contenido"
                            "contenido contenido contenido"
                            "pie pie pie";
    }
}

@media screen and (max-width: 450px){
    .contenedor{
        grid-template-areas:"encabezado encabezado encabezado"
                            "contenido contenido contenido"
                            "contenido contenido contenido"
                            "pie pie pie";
    }
}

header div.contenedor{
    place-content: flex-start;

}

header div.contenedor nav {
    width: 70%;
    display: flex;
    place-content: space-between;

}

#menu, #menu-check{
    display: none;
}

@media only screen and (max-width: 900px){
    header div.contenedor, hearder div.contenedor ul, header div.contenedor ul li{
        display: inline;
    }

    header div.contenedor nav{
        width: 100%;
        display: inline;
    }
}

@media only screen and (max-width:700px) {
    header h1 {
        margin: 0;
    }

    header hi a{
        padding: 0;
    }

    header div.contenedor{
        display: flex;
        place-content: space-between;
    }

    #menu-check:not(:checked) ~ nav{
        display: none;
    }

    #menu-check:checked ~ nav {
        display: block;
    }

    #menu{
        display: block;
        color:black;
        background-color: #f2f2f2;
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid #f2f2f2;
        border-radius: 0.3em;
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        z-index: 9999;
    }

    #menu:hover{
        color: black;
        background: #f2f2f2;
    }

    #menu-cerrar{
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir{
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar {
        display: block;
    }

    header div.contenedor nav{
        position: absolute;
        top:0;
        right: 0;
        height: 100%;
        background-color: #333;
        padding-top: 0.5em;
        padding-right: 1.5em;
        opacity: 0.8;
    }

    header div.contenerdor nav ul a {
        color: #f2f2f2;
        background: none;
    }

    header div.contenedor nav ul, header div.contenedor nav ul li {
        display: block;
        text-align: right;
    }

    main{
        text-align: center;
    }
}
